<div id="login_section">
  <h1 class="header_primary signup_banner">Login</h1>
  <% if controller.controller_name == 'users' && controller.action_name == 'new' %>
  <h2 class="header_secondary">Returning Members Login</h2>
  <% else %>
  <h2 class="header_secondary">Returning Members Login <%= link_to("New user?  Sign up!", sign_up_path) %></h2>
  <% end %>

  <% form_for :session, :url => session_path, :html => { :id => 'sidebar_login' } do |f| -%>

    <%= render :partial => 'sessions/form', :locals => {:f => f} %>

  <hr size="3" noshade />

  <%= submit_tag 'Login', :class => 'button_confirm' %>

  <% unless controller.controller_name == 'sessions' && controller.action_name == 'forgot' %>
    <%= link_to "Help, I forgot my password", forgot_password_path, :class => 'underline' %>
  <% end %>

  <hr size="1" noshade />
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#session_email ~ label").css('display', 'none');
    $("#session_password ~ label").css('display', 'none');
    $("#session_email").defaultValue('E-mail address');
    $("#session_password").defaultValue('Password');
  });
</script>