<% title 'Reset password' %>
<% can_has_js :login_now do %>
$(document).ready(function() {
  $('#header_information').hide();
  $('#header_login_form').show();
});
<% end %>
<div id="main">

  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Reset Password") %>

      <div class="arial18_green" id="main_title">Reset password</div>
    </div>
  </div>

  <div id="main_content">
    <p>
      <p>
        <%= flash[:error] %>
      </p>
    </p>
  </div>
</div>

