<% title 'Reset password' %>
<div id="main">

  <div id="page_container">

    <%= render :partial => 'shared/flashes' %>

    <div id="page_information">

      <div class="arial18_green" id="main_title">Reset password</div>
    </div>
  </div>

  <div id="main_content">
    <p>
      <p>
      </p>
    </p>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('#header_information').hide();
  $('#header_login_form').show();
});
</script>
