<% title 'Reset password' %>
<div id="main">

  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Reset Password") %>

      <div class="arial18_green" id="main_title">Reset password</div>
    </div>
  </div>

  <div id="main_content">
    <p>
      <p>
        There is no password reset available. Perhaps you have already reset your password?
      </p>
    </p>
  </div>
</div>

