
<div style="text-align: left; width: 941px; margin: 0px auto 10px auto;">
  <% form_for :session, :url => session_path do |f| -%>

    <%= render :partial => 'sessions/form', :locals => {:f => f} %>

    <p><%= f.submit 'Log in' %></p>
  <% end -%>

  <%= link_to('Forgot your password?', forgot_password_url) %>
</div>
