<div id="main">
  <div id="page_container">


  <%= render :partial => 'shared/flashes' %>

  <h1 class="header_primary signup_banner">Login</h1>
  <h2 class="header_secondary">Returning Members Login</h2>

  <% form_for :session, :url => session_path do |f| -%>

    <%= render :partial => 'sessions/form', :locals => {:f => f} %>

  <hr size="3" noshade />

  <%= f.submit 'Log in', :class => 'button_confirm' %> <%= link_to "Help. I forgot my password", forgot_password_path, :class => 'underline' %>

  <% end -%>

  <hr size="1" noshade />

  </div>

</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#session_email ~ label").css('display', 'none');
    $("#session_password ~ label").css('display', 'none');
    $("#session_email").defaultValue('E-mail address');
    $("#session_password").defaultValue('Password');
  });
</script>