<% title 'Story not found.' %>
<div id="main">

  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Stories") %>

      <div class="arial20_bold_green" id="main_title">Oh no!</div>
    </div>
  </div>

  <div id="main_content">
    <p>
      <p>
        We couldn't find that story in our records, sorry.
      </p>
    </p>
  </div>
</div>

