<% title 'New Story' %>
<div id="main">

  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Stories") %>

      <div class="arial18_green" id="main_title">Thank you for submitting your story!</div>
    </div>
  </div>

  <div id="main_content">
    <p>
      <p>
        Thanks for submitting your story. An administrator will look it over soon!
      </p>
    </p>
  </div>
</div>

