<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0px;padding: 0px;background-color: #330033;border: 0;font-family: Arial, Helvetica, sans-serif;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Document</title>

</head>

<body style="margin: 0px;padding: 0px;background-color: #330033;border: 0;font-family: Arial, Helvetica, sans-serif;"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr align="left" valign="top">
    <td colspan="3"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem.png" style="border: 0;"></td>
  </tr>
  <tr align="left" valign="top">
    <td width="100"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-02.png" style="border: 0;"></td>
    <td width="600">

        <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top" bgcolor="#F9F4F9">
    <td><a href="http://www.yogatoday.com" style="border:0;"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-05.png" alt="Yoga Today | Practice for Life" style="border: 0px;"></a></td>
  </tr>
  <tr align="left" valign="top" bgcolor="#F9F4F9">
    <td><h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 22px;color: #488a1a;padding: 0 20px;font-weight: lighter;">Success! Your Gift Subscription has been redeemed.</h1>

<p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333333;padding: 0 20px;">Hello, <%= @user.name %>,</p>
<p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333333;padding: 0 20px;">We’re pleased to inform you that your <%= @gift_card_name %> has been successfully processed and your account has been credited for unlimited streaming access to the Yoga Today Library of hundreds of on-line yoga classes.</p><br></td>
  </tr>
  <tr align="left" valign="top" bgcolor="#0f0f0f">
    <td class="anue" style="color: #cccccc;"><br><h2 style="font-family: Arial, Helvetica, sans-serif;font-size: 22px;font-weight: lighter;color: 339999;padding: 0 20px;">A Few Perks of Yoga Today Membership </h2>
      <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #cccccc;padding: 0 20px;">As an Unlimited Member, you also qualify for our discounted subscriber’s rate of $2.99 for downloaded classes.</p>
      <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #cccccc;padding: 0 20px;">Be sure to visit your profile to create an avatar so that other members will recognize you when you rate, review and discuss classes. </p>
      <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #cccccc;padding: 0 20px;">Classes added to your Yoga Queue will be saved for your return when you log out. <a href="http://www.yogatoday.com" style="color: #cccccc;text-decoration: underline;">Go to yogatoday.com to begin practicing with us right away</a>!</p></td>
  </tr>
  <tr align="left" valign="top" bgcolor="#0f0f0f">
    <td class="anue" style="color: #cccccc;"><table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top" class="anue" style="color: #cccccc;">
    <td width="190" valign="bottom"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-10.png" alt="Anue Yoga Apparel by New Balance | shop.newbalance.com" align="bottom" style="border: 0;"></td>
    <td width="410"><br>
      <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #cccccc;padding: 0 20px;">Last, but not least, our friends at New Balance are offering Yoga Today Subscribers a special discount on any purchase of Anue yoga apparel at <a href="http://shop.newbalance.com" style="color: #cccccc;text-decoration: underline;">shop.newbalance.com</a>. To get yours, use the promo code "YOGATODAY" when you check out. <a href="http://shop.newbalance.com" style="color: #cccccc;text-decoration: underline;">Shop Now!</a></p>
      <a href="http://shop.newbalance.com"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-12.png" alt="Anue Yoga Apparel by New Balance | shopnewbalance.com" style="border: 0;"></a></td>
  </tr>
</table></td>
  </tr>
</table>    </td>
    <td width="100"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-03.png" width="100" height="272" style="border: 0;"></td>
  </tr>
  <tr align="left" valign="top">
    <td> </td>
    <td>

        <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><a href="http://www.yogatoday.com"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-14.png" alt="Yoga Today | Practice for Life" style="border: 0;"></a></td>
    </tr>
  <tr>
    <td><a href="http://www.yogatoday.com"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-15.png" style="border: 0;"></a></td>
    <td><a href="http://shop.yogatoday.com"><img src="http://blog.yogatoday.com/ytdev/mail_images/giftcard/YT_Gift_E-mail_confirmRedeem-16.png" style="border: 0;"></a></td>
  </tr>
</table>

    </td>
    <td> </td>
  </tr>
</table>
</body>
</html>