<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
	<%= render :partial => "shared/email_header" %>
Hello <%= @user_story.name.split(' ').first %>,
<br />
<br />
Your user story has been published on Yoga Today!
<br />
<% unless @user_story.personal_message.blank? %>
<br />
Message from Yoga Today Team: <%= @user_story.personal_message %>
<br />
<br />
<% end %>
To see it, visit <%= user_story_url(@user_story) %>!
<br />
<br />
-- Yoga Today Team
<br />
  </body>
</html>
