<div id="ambassador_profile_widget">
  <p class="header">Ambassador Program <a href="#">Learn More</a></p>
  <img class="greeting" src="/images/ambassador_greeting.png" />
  <p class="introduction">Choose an Ambassador ID to share with others. Then use our Ambassador Tools to invite your friends to subscribe. Each Referral that becomes a prepaid subscriber earns you a point and a free month Unlimited Membership.</p>
  <fieldset class="ambassador_id">
    <legend><span>Choose your Ambassador ID</span></legend>
    <label>
      <input type="input" value="keep it simple..."></input>
    </label>
    <input class="submit" type="submit" value="Continue"></input>
  </fieldset>
</div>