<ul id="ambassador_tools_navigation">
  <% [ {:title => 'Invite by E-mail', :path => ambassador_tools_invite_by_email_user_path(current_user)},
    {:title => 'Invite by Sharing', :path => ambassador_tools_invite_by_sharing_user_path(current_user)},
    {:title => 'My Invitations', :path => ambassador_tools_my_invitations_user_path(current_user)},
    {:title => 'My Reward', :path => ambassador_tools_my_rewards_user_path(current_user)},
    {:title => 'Help', :path => ambassador_tools_help_user_path(current_user)}
  ].each do |link| %>
    <li <%= 'class="active"' if current_page?(link[:path]) -%>><%= link_to(link[:title], link[:path]) -%></li>
  <% end -%>

</ul>
