<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" style="float:left;">
 
      <div id="ambassador_tools">

        <ul id="ambassador_tools_navigation">
          <li><a href="#">Invite by E-mail</a></li>
          <li class="active"><a href="#">Invite by Sharing</a></li>
          <li><a href="#">My Invitations</a></li>
          <li><a href="#">My Rewards</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        
        <div class="tools_container">
          
          <h2 class="header">Share your Yoga Today Ambassador Invitation</h2>
          
          <ul class="invitation_networks">
            <li>
              <a href="#"><img class="network" src="#" /></a>
              <a class="network" href="#">Facebook</a>
              <p>Post an invitation to your Facebook profile. For each friend that begins a prepaid subscription following your invitation, you'll earn 1 point and a month of Yoga Today free!</p>
            </li>
            <li>
              <a href="#"><img class="network" src="#" /></a>
              <a class="network" href="#">Twitter</a>
              <p>Use our default Invitation or Tweet in your own words. Be sure to keep the special link in your post so you can earn points for each follower that becomes a prepaid subscriber.</p>
            </li>
            <li>
              <a href="#"><img class="network" src="#" /></a>
              <a class="network" href="#">Del.icio.us</a>
              <p>Your Ambassador invitation makes a fresh bookmark. Share your invitation with del.icio.us and earn points when members of the del.icio.us network begins a prepaid subscription following your special bookmark.</p>
          </ul>
        </div>
          
      </div> 
 
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>