<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" class="ambassador_pages" style="float:left;">
 
      <div id="ambassador_tools">

        <ul id="ambassador_tools_navigation">
          <li><a href="#">Invite by E-mail</a></li>
          <li><a href="#">Invite by Sharing</a></li>
          <li><a href="#">My Invitations</a></li>
          <li class="active"><a href="#">My Rewards</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <div class="tools_container">

          <div class="my_rewards_points">
            <h3>1 point = 1 free month Unlimited Membership</h3>
            <p>Earn a point for every successful prepaid subscription referral when you invite your friends and family to Yoga Today. Each point you earn as a Yoga Today Ambassador is worth a free month of Yoga Today.</p>
            <div class="my_points">
              <span class="header">My Points</span>
              <span class="count">0</span>
            </div>
          </div>
          
          <h3 class="redeem_rewards">My Rewards <span>Add +1 Month</span></h3>
          <div class="redeemed_rewards">
            
            <div class="unredeemed" style="display: none;">

              <h4 style="display: none;">Click "Add +1 Month" to use points for free months of Yoga Today.</h4>
              <h4>You currently have no points available for rewards.</h4>
              <p>To earn free Yoga Today, start by inviting your friends and family to subscribe.</p>
              <a class="by_email" href="#">Invite by E-mail</a><a href="#">Invite by Sharing</a>              
              
            </div>
            
            <ul>
              <li><span class="title">+1 free month Unlimited Membership</span><span class="action">Remove</span></li>
              <li><span class="title">+1 free month Unlimited Membership</span><span class="action">Remove</span></li>
              <li><span class="title">+1 free month Unlimited Membership</span><span class="action">Remove</span></li>
              <li><span class="title">+1 free month Unlimited Membership</span><span class="action">Remove</span></li>
              
            </ul>
            <div class="actions">
              <input type="submit" class="cancel" value="Cancel"></input>
              <input type="submit" class="submit" value="Submit"></input>
            </div>
          </div>
          
          <div class="rewards_terms">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio enim, ultrices sed pharetra tempor, sagitis nec metus. Cras vitae turpis risus.</p>
            <p>Nuliam placerat, dui vitae pellentesque elementum, leo est blandit mauris, a tincidunt leo purus vel turpis. Suspendisse potenti. Morbi magna massa, pretium at vestibulium sed, ultrices at nibh.</p>
            <p>To See your rewards in action, visit the <a href="#">Billing Activity</a> page in your Profile.</p>
          </div>
          
        </div>
          
      </div> 
 
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>