@color_border: #DCEBFF;
@color_background: #F2F6FF;
@color_header_font: #7E9ACA;
@color_ambassador_font: #4778C5;


div.ambassador_agent_id {
	position: relative;
	height: 30px;
	width: 203px;
	background: url('/images/ambassador_id.png') no-repeat 0px 0px;
	span {
		position: absolute;
		top: 0px;
		left: 0px;
		font-style: italic;
		font-size: 18px;
		font-weight: normal;
		color: #666;
	}
}

#ambassador_profile_widget.tools {
	div.ambassador_agent_id {
		float: none;
		width: auto;
		height: 50px;
		background-position: 10px 10px;
		span {
			top: 18px;
			left: 54px;
		}
	}
	div.stats {
		float: none;
		position: relative;
		clear: left;
		table {
			width: 203px;
			height: 85px;
			margin: 0 0 0 10px;
			border: 1px solid #999;
			background: #fff;
			border-collapse: separate;
			td {
				margin: 0;
				padding: 0;
				font-size: 10px;
				border: 1px solid @color_border;
				border-width: 0 1px 1px 0;
				line-height: 18px;
				padding-left: 5px;
			}
			td.count {
				border-width: 0 0 1px 0;
				font-weight: bold;
			}
			tr.last td {
				border-bottom: none;
			}
		}
		div.points {
			position: absolute;
			top: 0px;
			right: 10px;
			width: 70px;
			height: 85px;
			background: url('/images/ambassador_bg_points.png') no-repeat right bottom;
			span.header {
				position: absolute;
				top: 0px;
				right: 0px;
				font-size: 14px;
				color: @color_header_font;
			}
			span.count {
				position: absolute;
				width: 40px;
				text-align: center;
				bottom: 18px;
				*bottom: 15px;
				right: 11px;
				font-weight: bold;
				font-size: 28px;
				line-height: 28px;
				font-style: italic;
				color: @color_header_font;
			}
		}
	}
	fieldset.invitation {
		position: relative;
		border: none;
		margin: 30px 0 0 0;
		padding: 0;
		float: none;
		legend span {
			position: absolute;
			top: -18px;
			left: 10px;
			font-size: 11px;
			color: @color_header_font;
		}
		label {
			float: left;
			margin: 0 0 0 10px;
			padding: 0;
			input {
				width: 198px;
				height: 22px;
				line-height: 22px;
				padding-left: 3px;
			}
		}
		input.submit {
			width: 68px;
			margin-left: 5px;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			_border-left: 1px solid #999;
			_border-right: 1px solid #999;
		}
	}
	div.share {
		margin: 14px 0;
		span.header {
			display: block;
			font-size: 11px;
			color: @color_header_font;
			margin-left: 10px;
		}
		span.blocks {
			display: block;
			width: 160px;
			height: 14px;
			background: #eee;
			margin-left: 10px;
		}
	}
	span.help {
		position: absolute;
		bottom: 14px;
		right: 10px;
		a {
			color: #666;
			text-decoration: underline;
			:hover {
				text-decoration: none;
			}
		}
	}
}

#ambassador_profile_widget.program {
}

#ambassador_profile_widget {
	position: relative;
	margin: 20px 0 0 0;
	padding: 0;
	background: @color_background;
	border: 1px solid @color_border;
	p.header {
		font-size: 14px;
		position: relative;
		margin: 0;
		padding: 0 10px;
		line-height: 26px;
		border-bottom: 1px solid @color_border;
		color: @color_header_font;
		font-weight: bold;
		span {
			font-size: 12px;
			font-weight: normal;
		}
		a {
			font-size: 12px;
			position: absolute;
			right: 10px;
			font-weight: normal;
			color: #666;
			text-decoration: underline;
			_top: -7px;
			:hover {
				text-decoration: none;
			}
		} 
	}
	img.greeting {
		margin: 14px 10px 0px 10px;
		display: block;
	}
	p {
		font-size: 12px;
		padding: 10px 0 0 0;
		margin: 10px;
		color: #666;		
	}
	div.introduction {
		float: none;
		p {
			border-top: 1px solid @color_border;
			padding-bottom: 18px;
		}
		fieldset {
			position: relative;
			padding: 0;
			border: none;
			margin: 0px 10px 20px 10px;
			legend span {
				position: absolute;
				top: -16px;
				left: 0px;
				font-size: 11px;
				color: @color_header_font;
			}
			label {
				float: left;
				input {
					height: 22px;
					width: 160px;
					margin-right: 5px;
					padding-left: 3px;
					line-height: 22px;
					font-style: italic;
				}
			}
			input.submit {
				float: none;
				_position: relative;
				_top: 4px;
			}
		} 
	}
	div.confirm {
		position: relative;
		float: none;
		clear: left;
		div.ambassador_agent_id {
			border-top: 1px solid @color_border;
			margin: 10px 10px 0 10px;
			padding: 0;
			background-position: 34px 18px;
			height: 60px;
			width: auto;
			span {
				top: 26px;
				left: 85px;
			}
		}
		p {
			padding: 0;
			margin-top: 0;
			clear: both;
		}
		fieldset {
			position: relative;
			padding: 0;
			margin: 0;
			border: none;
			legend span {
				position: absolute;
				top: 10px;
				_top: 0px;
				left: 10px;
				a {
					font-size: 12px;
					color: #666;
					text-decoration: underline;
					:hover {
						text-decoration: none;
					}
				}
			}
			label {
				float: right;
				margin: 0 10px 10px 0;
				padding: 0;
			}
		}
	}
}

#ambassador_tools_navigation {
	height: 26px;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #F5F8FD;
	border-bottom: 1px solid @color_border;
	li {
		float: left;
		border-right: 1px solid @color_border;
		padding: 0 15px;
		font-size: 12px;
		font-weight: bold;
		line-height: 26px;
		a {
			color: #999;
			text-decoration: none;
		}
	}
	li.active {
		position: relative;
		height: 28px;
		background: @color_background;
		border: 1px solid #fff;
		border-width: 0 1px 0 0;
		a {
			color: #666;
		}
	}
}

#ambassador_tools {
	margin: 0;
	_margin-bottom: 35px;
	padding: 0;
	clear: both;
	div.tools_container {
		border-top: 1px solid #fff;
		background: @color_background;
		padding: 0 0 20px 0;
		h2.header {
			font-size: 20px;
			margin: 30px 0 20px 30px;
			color: @color_ambassador_font;
			font-weight: normal;
		}
		ul.invitation_networks {
			list-style-type: none;
			margin: 0 30px;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				border-top: 1px dotted @color_ambassador_font;
				img.network {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 156px;
					height: 50px;
					border: 3px solid #ccc;
				}
			}
		}
		fieldset.invitation {
			margin: 0 0 0 30px;
			padding: 8px 0 0 0;
			border: none;
			label {
				color: @color_ambassador_font;
				font-size: 11px;
				width: 50%;
				float: left;
				input {
					display: block;
					width: 258px;
				}
				span.tip {
					display: block;
					font-size: 10px;
					line-height: 12px;
					width: 230px;
					color: #666;
					margin-top: 2px;
				}
			}
			label.message {
				margin-top: 30px;
				width: auto;
				clear: left;
				textarea {
					display: block;
					width: 560px;
					height: 128px;
					font-size: 12px;
					line-height: 20px;
					padding-left: 3px;
				}
			}
			label.default {
				clear: left;
				display: block;
				width: auto;
				font-size: 14px;
				line-height: 14px;
				margin-top: 4px;
				input {
					display: inline;
					width: auto;
					margin: 4px 0;
					*border: none;
					*margin: 0;
				}
			}
			label.instruction {
				width: 400px;
				font-size: 16px;
				display: block;
				clear: left;
				padding: 30px 0 50px 0;
			}
		}
		div.actions {
			position: relative;
			border: 1px solid #ccc;
			border-width: 4px 0 1px 0;
			float: none;
			margin: 0 30px 0 30px;
			padding: 4px 0;
			input.preview {}
			input.send {}
			input.cancel { position: absolute; right: 0px; _right: 30px;}
		}
	}
}