div.ambassador_agent_id {
  position: relative;
  height: 30px;
  width: 203px;
  background: url('/images/ambassador_id.png') no-repeat 0px 0px;
}
div.ambassador_agent_id span {
  position: absolute;
  top: 0px;
  left: 0px;
  font-style: italic;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
}
#ambassador_profile_widget.tools div.ambassador_agent_id {
  float: none;
  width: auto;
  height: 50px;
  background-position: 10px 10px;
}
#ambassador_profile_widget.tools div.ambassador_agent_id span {
  top: 18px;
  left: 54px;
}
#ambassador_profile_widget.tools div.stats {
  float: none;
  position: relative;
  clear: left;
}
#ambassador_profile_widget.tools div.stats table {
  width: 203px;
  height: 85px;
  margin: 0 0 0 10px;
  border: 1px solid #999999;
  background: #ffffff;
  border-collapse: separate;
}
#ambassador_profile_widget.tools div.stats table td {
  margin: 0;
  padding: 0;
  font-size: 10px;
  border: 1px solid #dcebff;
  border-width: 0 1px 1px 0;
  line-height: 18px;
  padding-left: 5px;
}
#ambassador_profile_widget.tools div.stats table td.count {
  border-width: 0 0 1px 0;
  font-weight: bold;
}
#ambassador_profile_widget.tools div.stats table tr.last td { border-bottom: none; }
#ambassador_profile_widget.tools div.stats div.points {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 70px;
  height: 85px;
  background: url('/images/ambassador_bg_points.png') no-repeat right bottom;
}
#ambassador_profile_widget.tools div.stats div.points span.header {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #7e9aca;
}
#ambassador_profile_widget.tools div.stats div.points span.count {
  position: absolute;
  width: 40px;
  text-align: center;
  bottom: 23px;
  right: 11px;
  font-weight: bold;
  font-size: 28px;
  font-style: italic;
  color: #7e9aca;
}
#ambassador_profile_widget.tools fieldset.invitation {
  position: relative;
  border: none;
  margin: 30px 0 0 0;
  padding: 0;
  float: none;
}
#ambassador_profile_widget.tools fieldset.invitation legend span {
  position: absolute;
  top: -18px;
  left: 10px;
  font-size: 11px;
  color: #7e9aca;
}
#ambassador_profile_widget.tools fieldset.invitation label {
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
}
#ambassador_profile_widget.tools fieldset.invitation label input {
  width: 198px;
  height: 22px;
  line-height: 22px;
  padding-left: 3px;
}
#ambassador_profile_widget.tools fieldset.invitation input.submit {
  width: 68px;
  margin-left: 5px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  _border-left: 1px solid #999999;
  _border-right: 1px solid #999999;
}
#ambassador_profile_widget.tools div.share { margin: 14px 0; }
#ambassador_profile_widget.tools div.share span.header {
  display: block;
  font-size: 11px;
  color: #7e9aca;
  margin-left: 10px;
}
#ambassador_profile_widget.tools div.share span.blocks {
  display: block;
  width: 160px;
  height: 14px;
  background: #eeeeee;
  margin-left: 10px;
}
#ambassador_profile_widget.tools span.help {
  position: absolute;
  bottom: 14px;
  right: 10px;
}
#ambassador_profile_widget.tools span.help a {
  color: #666666;
  text-decoration: underline;
}
#ambassador_profile_widget.tools span.help a:hover { text-decoration: none; }
#ambassador_profile_widget {
  position: relative;
  margin: 20px 0 0 0;
  padding: 0;
  background: #f2f6ff;
  border: 1px solid #dcebff;
}
#ambassador_profile_widget p.header {
  font-size: 14px;
  position: relative;
  margin: 0;
  padding: 0 10px;
  line-height: 26px;
  border-bottom: 1px solid #dcebff;
  color: #7e9aca;
  font-weight: bold;
}
#ambassador_profile_widget p.header span {
  font-size: 12px;
  font-weight: normal;
}
#ambassador_profile_widget p.header a {
  font-size: 12px;
  position: absolute;
  right: 10px;
  font-weight: normal;
  color: #666666;
  text-decoration: underline;
  _top: -7px;
}
#ambassador_profile_widget p.header a:hover { text-decoration: none; }
#ambassador_profile_widget img.greeting {
  margin: 14px 10px 0px 10px;
  display: block;
}
#ambassador_profile_widget p {
  font-size: 12px;
  padding: 10px 0 0 0;
  margin: 10px;
  color: #666666;
}
#ambassador_profile_widget div.introduction { float: none; }
#ambassador_profile_widget div.introduction p {
  border-top: 1px solid #dcebff;
  padding-bottom: 18px;
}
#ambassador_profile_widget div.introduction fieldset {
  position: relative;
  padding: 0;
  border: none;
  margin: 0px 10px 20px 10px;
}
#ambassador_profile_widget div.introduction fieldset legend span {
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 11px;
  color: #7e9aca;
}
#ambassador_profile_widget div.introduction fieldset label { float: left; }
#ambassador_profile_widget div.introduction fieldset label input {
  height: 22px;
  width: 160px;
  margin-right: 5px;
  padding-left: 3px;
  line-height: 22px;
  font-style: italic;
}
#ambassador_profile_widget div.introduction fieldset input.submit {
  float: none;
  _position: relative;
  _top: 4px;
}
#ambassador_profile_widget div.confirm {
  position: relative;
  float: none;
  clear: left;
}
#ambassador_profile_widget div.confirm div.ambassador_agent_id {
  border-top: 1px solid #dcebff;
  margin: 10px 10px 0 10px;
  padding: 0;
  background-position: 34px 18px;
  height: 60px;
  width: auto;
}
#ambassador_profile_widget div.confirm div.ambassador_agent_id span {
  top: 26px;
  left: 85px;
}
#ambassador_profile_widget div.confirm p {
  padding: 0;
  margin-top: 0;
  clear: both;
}
#ambassador_profile_widget div.confirm fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}
#ambassador_profile_widget div.confirm fieldset legend span {
  position: absolute;
  top: 10px;
  _top: 0px;
  left: 10px;
}
#ambassador_profile_widget div.confirm fieldset legend span a {
  font-size: 12px;
  color: #666666;
  text-decoration: underline;
}
#ambassador_profile_widget div.confirm fieldset legend span a:hover { text-decoration: none; }
#ambassador_profile_widget div.confirm fieldset label {
  float: right;
  margin: 0 10px 10px 0;
  padding: 0;
}
#ambassador_tools_navigation {
  height: 26px;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f5f8fd;
  border-bottom: 1px solid #dcebff;
}
#ambassador_tools_navigation li {
  float: left;
  border-right: 1px solid #dcebff;
  padding: 0 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
}
#ambassador_tools_navigation li a {
  color: #999999;
  text-decoration: none;
}
#ambassador_tools_navigation li.active {
  position: relative;
  height: 28px;
  background: #f2f6ff;
  border: 1px solid #ffffff;
  border-width: 0 1px 0 0;
}
#ambassador_tools_navigation li.active a { color: #666666; }
#ambassador_tools {
  margin: 0;
  padding: 0;
  clear: both;
}
#ambassador_tools div.tools_container {
  border-top: 1px solid #ffffff;
  background: #f2f6ff;
  padding: 0 0 20px 0;
}
#ambassador_tools div.tools_container h2.header {
  font-size: 20px;
  margin: 30px 0 30px 30px;
  color: #4778c5;
  font-weight: normal;
}
#ambassador_tools div.tools_container fieldset.invitation {
  margin: 0 0 0 30px;
  padding: 0;
  border: none;
}
#ambassador_tools div.tools_container fieldset.invitation label {
  color: #4778c5;
  font-size: 11px;
  width: 50%;
  float: left;
}
#ambassador_tools div.tools_container fieldset.invitation label input {
  display: block;
  width: 258px;
}
#ambassador_tools div.tools_container fieldset.invitation label span.tip {
  display: block;
  font-size: 10px;
  line-height: 12px;
  width: 230px;
  color: #666666;
  margin-top: 2px;
}
#ambassador_tools div.tools_container fieldset.invitation label.message {
  margin-top: 30px;
  width: auto;
  clear: left;
}
#ambassador_tools div.tools_container fieldset.invitation label.message textarea {
  display: block;
  width: 560px;
  height: 130px;
}
#ambassador_tools div.tools_container fieldset.invitation label.default {
  clear: left;
  display: block;
  width: auto;
  font-size: 13px;
  line-height: 13px;
  margin-top: 4px;
}
#ambassador_tools div.tools_container fieldset.invitation label.default input {
  display: inline;
  width: auto;
  margin: 4px 0;
  *border: none;
  *margin: 0;
}
#ambassador_tools div.tools_container fieldset.invitation label.instruction {
  width: 400px;
  font-size: 16px;
  display: block;
  clear: left;
  padding: 30px 0 50px 0;
}
#ambassador_tools div.tools_container div.actions {
  position: relative;
  border: 1px solid #cccccc;
  border-width: 4px 0 1px 0;
  float: none;
  margin: 0 30px 0 30px;
  padding: 4px 0;
}
#ambassador_tools div.tools_container div.actions input.cancel {
  position: absolute;
  right: 0px;
}
