/*
    Document   : main
    Created on : Dec 22, 2008, 8:29:40 PM
    Author     : arron
    Description:
        Development specific overrides for the main yoga today stylesheets.
*/

#video_banner .video_player {
    width: 620px;
    height: 401px;
}

#main_lesson_title {
    float: left;
    margin-right: 5px;
}
/* button styles */
/* doesn't work in IE */
input[type="button"]:hover, input[type="submit"]:hover {
    color: #333333;
    cursor: pointer;
}

input[type="button"], input[type="submit"] {
    background-image:url(/images/button-bg-lg.png);
    background-position:center top;
    background-repeat:no-repeat;
    width: 103px;
    height: 26px;
    color: #666666;
    border: none;
}

input.bigger_button:hover {
    color: #333333;
    cursor: pointer;
}
input.bigger_button {
    background-image:url(/images/button-bg-lg-2.png);
    background-position:center top;
    background-repeat:no-repeat;
    width: 143px;
    height: 26px;
    color: #666666;
    border: none;
}
input.smaller_button:hover {
    color: #333333;
    cursor: pointer;
}
input.smaller_button {
    background-image:url(/images/button-smaller.png);
    background-position:center top;
    background-repeat:no-repeat;
    width: 65px;
    height: 26px;
    color: #666666;
    border: none;
}
input.smallest_button:hover {
    color: #333333;
    cursor: pointer;
}
input.smallest_button {
    background-image:url(/images/button-smallest.png);
    background-position:center top;
    background-repeat:no-repeat;
    width: 65px;
    height: 20px;
    color: #666666;
    border: none;
}
input.biggest_button:hover {
    color: #333333;
    cursor: pointer;
}
input.biggest_button {
    background-image:url(/images/button-bg-lg-3.png);
    background-position:center top;
    background-repeat:no-repeat;
    width: 165px;
    height: 26px;
    color: #666666;
    border: none;
}
a {
    outline: none;
}
a.button {
    background-image:url(/images/thumbnail_default.png);
    background-position:center top;
    background-repeat:repeat-x;
    color:#666666;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    overflow:hidden;
    text-align:center;
    display: block;
    padding-top: 3px;
    float:left;
    height: 19px;
    width: 68px;
}
a.button:hover {
    background-image: url(/images/thumbnail_hover.png);
  color:#333333;
}
a.big_button {
    background-image:url(/images/button-bg-lg.png);
    background-position:center top;
    background-repeat:no-repeat;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    overflow:visible;
    padding: 6px;
    width: 103px;
    height: 23px;
    text-align:center;
    color: #488A1A;
}
a.biga_button {
    background-image:url(/images/button-bg-lg-4.png);
    background-position:center top;
    background-repeat:no-repeat;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    overflow:visible;
    padding: 6px;
    width: 118px;
    height: 23px;
    text-align:center;
    color: #488A1A;
}
a.biga_button:hover {
    background-image:url(/images/button-bg-lg-4.png);
}
a.smaller_button:hover {
    background-image:url(/images/button-smaller.png);
}
a.smaller_button {
    background-image:url(/images/button-smaller.png);
    background-position:center top;
    background-repeat:no-repeat;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    overflow:visible;
    padding: 6px;
    width: 65px;
    height: 23px;
    text-align:center;
    color: #488A1A;
}
a.bigger_button:hover {
    background-image:url(/images/button-bg-lg-2.png);
}
a.bigger_button {
    background-image:url(/images/button-bg-lg-2.png);
    background-position:center top;
    background-repeat:no-repeat;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    overflow:visible;
    padding: 6px;
    width: 143px;
    height: 23px;
    text-align:center;
    color: #488A1A;
}
a.big_button:hover {
    background-image:url(/images/button-bg-lg.png);
}
/* end button styles */
form label.error {
  background-color:#FFF5D9;
  border:1px solid #D7C3AC;
  color:#333333;
  display:block;
  font-size:10px;
  height:18px;
  padding:0 10px;
}
#main #main_content {
    overflow: hidden;
}

/* deal with overflowing text for inline signup and registration */
#new_reply_signup #container_6col,
#new_suggestion_signup #container_6col,
#new_review_signup #container_6col {
    width: 100%;
}

.video_box1 {
    width: 25%;
}

/* deal with featured video overlay fade */
#video_banner {
    position: relative;
  padding: 0;

}

#featured_video_image_fade {
    height: 100%;
    width: 100%;
}
#featured-video-box {
    padding-top: 20%;
}

/* featured video overlay -- making the info box flow */
#featured-video-info {
  height: auto;
  position: relative;
  padding-bottom: 10px;
}
/* added for ease */
#featured-video-info-container {
  max-width: 83%;
  padding-left: 10px;
}
#feature-video-info-play {
  /* ignore the following */
  float: none;
  padding-right: 0px;
  /* added */
  position: absolute;
  top: 0px;
  left: 87%;
}

/* user stories */

.user_story_image {
    max-width: 300px;
    max-height: 400px;
}
/* header links */
#header_information a {
  margin-left: 1em;
}

/* jquery.rating or some css mode I did doesn't work quite right (no height) */
.grid_video_rating {
  min-height: 16px; /* height of actual pixels */
  margin: 6px 0px 10px 0px;
}
#community_image {
  text-align: center;
}

.avatar_wrap {
  height: 50px;
  width: 50px;
  overflow: hidden;
}

/* overrides for tab buttons */
#review_section {
  margin-bottom: 28px;
}
#review_section h3 {
  margin-bottom: auto;
}
.review_option {
  padding-left: 18px;
  padding-right: 18px;
}
.review_option:hover {
  color: #0066ff;
}

.feedback {
  padding-top: 0px;
}
#discussion_new_topic form, #review_new_topic form, #suggestion_new_topic form {
  padding-top: 18px;
}
/* wtf? why didn't he style the h2 element? goddamn it */
h2 {
  font-family: Arial;
  font-size: 14px;
  color: #666666;
  margin: 0px;
}
h3 {
  font-family: Arial;
  font-size: 12px;
  color: #488a1a;
  font-weight: bold;
  margin: 0px;
}

#instructor_photo {
  width: 84px;
  height: 121px;
}
#instructor_stats {
  float: none;
}

#nav_links a {
  font-family: Arial;
  font-size: 12px;
  color: #999999
}
#nav_links a:hover {
  color: #333333;
}

/* search page stuff */
#sort_by_div {
  float: left;
  margin-right: 94px;
}
#page_count {
  float: left;
  margin-right: 94px;
}
.search_header {
  background-image: url(/images/search/narrowSearchBox.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 66px;
  padding-left: 16px;
  font-weight: bold;
  /* Center text vertically */
  padding-top: 10px;
  padding-bottom: 10px;
}

.search_results_bar {
  background-image: url(/images/search/resultsBar.png);
  background-repeat: no-repeat;
  width: 620px;
  height: 41px;
  line-height: 41px;
  padding-left: 16px;
  /* center align vertically */
  /* Again. */
  vertical-align: middle;
}

.display_results_options_nav {
  margin-right: 32px;
  border: 0;
  /* some kinda rendering error if you don't force the height */
  height:18px;
  float: right;
  margin-top: 10px;
}
.display_results_options_nav a {
  display: block;
  float: left;

}
.display_results_options_nav a img {
  border: 1px solid #CCCCCC
}

/* search pagination */
.search_pagination {
  /* some kinda rendering problem here... */
  display: inline;
}
.search_pagination .current, .pagination .current {
  text-decoration: underline;
}
.search_pagination .prev_page img, .search_pagination .next_page img {
  border: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.search_pagination .prev_page img {
  margin-right: 5px;
}
.search_pagination .next_page img {
  margin-left: 5px;
}
/* Advertising */
input.star {
  display: none;
}

.filter_arrow, .filter_title {
  cursor: pointer;
}
.filter_options.nested {
  background: none;
  overflow: visible;
  border: 0;
}
.filter_options.nested .filter_option_box {
  margin-left: 36px;
}
.filter_option_box .header_checkbox {
  margin-right: 16px;
}
/* we don't use last-child because IE7 is a big cry baby */
.video_box1 {
  margin-left: 20px;
  width: 140px;
}
.video_box1:first-child {
  margin-left: 0px;
}

#menu_content {
/*  display: none;*/
}

.default_value {
  color: #D5D5D5;
}

#container_4col h3, #new_user h3 {
  color: #666;
}