@charset "utf-8";
/* text classes */

    /* GREEN */
.arial20_bold_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #3a7a15;
}
.arial20_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #3a7a15;
}
.arial18_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #488A1A;
}
.arial16_bold_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #488A1A;
}
.arial16_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3a7a15;
}
.arial13_bold_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #3a7a15;
}

.arial13_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3a7a15;
}

/* Black */
.arial16_bold_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.arial16_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}
.arial13_bold_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.arial13_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
.arial11_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

/* White */
.arial16_bold_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}
.arial16_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
}
.arial13_bold_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}
.arial13_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
}
.verdana10_bold_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana10_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

/* Red */
.arial13_bold_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ed2024;
}
.arial13_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ed2024;
}
.warning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}


/* Dark Red */
.arial11_dk_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #dc4533;
}

/* Yellow */
.arial11_yellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #cc9900;
}

/* Light Green */
.arial11_lt_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #61af39;
}

/* Gray */
.verdana10_bold_gray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #7f7f7f;
}
.verdana10_gray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #7f7f7f;
}
.arial13_gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7f7f7f;
}
.arial16_gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #7f7f7f;
}
.arial16_bold_gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #7f7f7f;
}
.arial11_gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7f7f7f;
}

.arial11_button_gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.arial11_button_gray:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.arial13_bold_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #3333cc;
}

.breadcrub_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}