<div style="position: absolute; left: 395px; top: 120px; z-index: 200;">
  <%= image_tag 'launchPopupMessage.jpg', :onclick => remote_function(:update => 'special_message', :url => {:controller => 'users', :action => "no_special_message"}) %>
</div>
