<%
  title 'Registration'
  can_has_js 'registration', 'jquery.validate', 'jquery.form'
%>
<% can_has_js :validate_new_user_form do %>
  $(document).ready(function() {
    validate_new_user_form("#new_user")
  });
<% end %>

<div id="main">
    <div id="page_container">
      <div id="page_information">
        <%= breadcrumb("Registration") %>
        <div class="arial18_green" id="main_title">Yoga Today Registration</div>
      </div>
    </div>

    <div id="main_content">
       <% form_for @user do |f| -%>
        <%= render :partial => "form", :locals => { :f => f, :choose_a_plan => true } %>
      <% end -%>
    </div>
  </div>
