<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" style="float:left;">
    
      <div id="profile_basic_information_form">
        <h2>Basic Information <span>Account Type: Unlimited Member</span></h2>
        
        <div class="avatar">
          <img src="#" />
          <span>My Photo</span>
          <a href="#">update</a>
        </div>
        
        <fieldset>
          <label class="end_set">
            user name
            <input type="text"></input>
          </label>
          
          <label>
            new password
            <input type="text"></input>
          </label>
          
          <label class="end_set">
            confirm new password
            <input type="text"></input>
          </label>
          
          <label>
            e-mail address
            <input type="text"></input>
          </label>
          
          <label class="end_set">
            city
            <input type="text"></input>
          </label>

          <label class="state">
            state
            <input type="text"></input>
          </label>
          
          <label class="country end_set">
            country
            <input type="text"></input>
          </label>
          
          <label class="checkbox">
            <input type="checkbox"></input>
            Send me the weekly Yoga Today newsletter and weekly class update.
          </label>
          
          <label class="checkbox">
            <input type="checkbox"></input>
            Keep me informed of Yoga Today offers and special announcements.
          </label>
          
          <label class="radio">
            <input type="radio"></input>
            HTML E-mail
          </label>
          
          <label class="radio">
            <input type="radio"></input>
            Plain Text E-mail
          </label>          
          
        </fieldset>
        
        <div class="actions">
          <input class="cancel" type="submit" value="Cancel"></input>
          <input class="submit" type="submit" value="Save Changes"></input>
        </div>

      </div>
      
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
  $('.edit_user').validate({
    rules: {
        "user[password]": {
          minlength: 5
        },
        "user[password_confirmation]": {
          minlength: 5,
          equalTo: "#user_password"
        },
        "user[email]": {
          required: true,
          email: true
        }
      },
      messages: {
        "user[password]": {
          minlength: "Your password must be at least 5 characters long"
        },
        "user[password_confirmation]": {
          equalTo: "Please enter the same password as above"
        },
        "user[email]": "Please enter a valid email address"
      }
    });
  $('.edit_user').find("#user_password").blur(function() {
    $('.edit_user').find("#user_password_confirmation").valid();
  });
});
</script>