<% title 'Welcome to Yoga Today' %>

<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Registration Confirmation") %>
      <div class="arial18_green" id="main_title">Welcome to Yoga Today</div>
    </div>
  </div>

  <div id="main_content">
    <div id="container_4col" style="float:left">
      <div class="filter_options" style="border: none; background-image: none; padding-left: 0px;">
        <p>Welcome to the Yoga Today Community! Instructions have been emailed to you to activate your account.
          Once you activate, your registration will be complete and you'll be all
          set to start practicing with us. You can add classes to your Queue (playlist). </p>
        <p> Thanks for being here.</p>
      </div>
    </div>
  </div>
</div>
