<html>
  <head>
    <title>Welcome to Yoga Today!</title>
  </head>
  <body>
    <%= render :partial => "shared/email_header2", :locals => { :headertitle => "Welcome to Yoga Today!"} %>
    <div>
      <br />
      Hello <%= @user.name %> ,
      <br />
      Welcome to the Yoga Today Community! Your Free Membership profile has been
      created and you now have streaming access to our free weekly classes.
      <br />
      Be sure to visit your Profile page to create an avatar so that other members
      will recognize you when you rate, review and discuss classes.
      <br />
      Classes added to your Yoga Queue will be saved for your return when you log out.
      <br />
      Thanks and Love from everyone at Yoga Today:)
      <br />
      For details about the Yoga Today Terms of Service, visit
      <a href="http://www.yogatoday.com/terms-and-conditions">
        http://www.yogatoday.com/terms-and-conditions
      </a>
      <br />
      Our privacy policy can be accessed at
      <a href="http://www.yogatoday.com/privacy-policy">
        http://www.yogatoday.com/privacy-policy
      </a>
      <br />
      This email was sent to you as part of your Yoga Today membership.
      If you would like to stop receiving these emails please visit your Profile page,
      uncheck "Yes, send me news from YogaToday.com," and save your changes.
      <br />
      Please do not reply to this email.
      <br />
      For more information about your account, please visit
      <a href="http://www.yogatoday.com/faqs">
        http://www.yogatoday.com/faqs
      </a>
      <br />
      If you require further assistance, please contact support@yogatoday.com
      <br />
    </div>
  </body>
</html>
