<% video = carousel_item.video %>
<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="<%= carousel_item.thumbnail %>"
    free='<%= carousel_item.free? %>'>
    <% if carousel_item.free? %>
    <div id="featured_thumb_banner">
      <img src="/images/featured-thumb-free.png" width="106" height="16" />
    </div>
    <% end %>

    <%= image_tag(carousel_item.image.url(:thumb)) %>
  </div>
</li>
