<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/ab80a1ea66244dccb1a974e49560c2a9/0"
    free='false'>

    <img alt="Yoga for Runners" height="59" src="http://images.delvenetworks.com/ab80a1ea66244dccb1a974e49560c2a9/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/569f32d86def4fb8b1d64b09b147d083/0"
    free='false'>

    <img alt="Discover cosmic dancer pose" height="59" src="http://images.delvenetworks.com/569f32d86def4fb8b1d64b09b147d083/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="/system/images/46/original/S7_feature.jpg?2009"
    free='false'>

    <img alt="Kundalini yoga to cleanse the liver" height="59" src="/system/images/46/original/S7_feature.jpg?2009" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/fd82ef146da743689438588eb1e332a3/0"
    free='false'>

    <img alt="The power of light and reflection" height="59" src="http://images.delvenetworks.com/fd82ef146da743689438588eb1e332a3/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/53de659878a54dbc98eaa653e7a20784/0"
    free='false'>

    <img alt="Introductory Ashtanga" height="59" src="http://images.delvenetworks.com/53de659878a54dbc98eaa653e7a20784/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/da4d3c47f1f347f09743eedb77bb6b05/0"
    free='false'>

    <img alt="Ashtanga Vinyasa" height="59" src="http://images.delvenetworks.com/da4d3c47f1f347f09743eedb77bb6b05/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/c784703c21ec4e77a899cca5ab46a308/0"
    free='false'>

    <img alt="Build consonance with power &amp; grace" height="59" src="http://images.delvenetworks.com/c784703c21ec4e77a899cca5ab46a308/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="toggle_homepage_promo(); sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="/system/images/52/original/S110.jpg?2009"
    free='true'>

    <div id="featured_thumb_banner">
      <img src="/images/featured-thumb-free.png" width="106" height="16" />
    </div>

    <img alt="16 poses that will change your life!" height="59" src="/system/images/52/original/S110.jpg?2009" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/ab80a1ea66244dccb1a974e49560c2a9/0"
    free='false'>

    <img alt="Yoga for Runners" height="59" src="http://images.delvenetworks.com/ab80a1ea66244dccb1a974e49560c2a9/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/569f32d86def4fb8b1d64b09b147d083/0"
    free='false'>

    <img alt="Discover cosmic dancer pose" height="59" src="http://images.delvenetworks.com/569f32d86def4fb8b1d64b09b147d083/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="/system/images/46/original/S7_feature.jpg?2009"
    free='false'>

    <img alt="Kundalini yoga to cleanse the liver" height="59" src="/system/images/46/original/S7_feature.jpg?2009" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/fd82ef146da743689438588eb1e332a3/0"
    free='false'>

    <img alt="The power of light and reflection" height="59" src="http://images.delvenetworks.com/fd82ef146da743689438588eb1e332a3/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/53de659878a54dbc98eaa653e7a20784/0"
    free='false'>

    <img alt="Introductory Ashtanga" height="59" src="http://images.delvenetworks.com/53de659878a54dbc98eaa653e7a20784/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/da4d3c47f1f347f09743eedb77bb6b05/0"
    free='false'>

    <img alt="Ashtanga Vinyasa" height="59" src="http://images.delvenetworks.com/da4d3c47f1f347f09743eedb77bb6b05/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/c784703c21ec4e77a899cca5ab46a308/0"
    free='false'>

    <img alt="Build consonance with power &amp; grace" height="59" src="http://images.delvenetworks.com/c784703c21ec4e77a899cca5ab46a308/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="/system/images/52/original/S110.jpg?2009"
    free='true'>

    <div id="featured_thumb_banner">
      <img src="/images/featured-thumb-free.png" width="106" height="16" />
    </div>

    <img alt="16 poses that will change your life!" height="59" src="/system/images/52/original/S110.jpg?2009" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/ab80a1ea66244dccb1a974e49560c2a9/0"
    free='false'>

    <img alt="Yoga for Runners" height="59" src="http://images.delvenetworks.com/ab80a1ea66244dccb1a974e49560c2a9/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="http://images.delvenetworks.com/569f32d86def4fb8b1d64b09b147d083/0"
    free='false'>

    <img alt="Discover cosmic dancer pose" height="59" src="http://images.delvenetworks.com/569f32d86def4fb8b1d64b09b147d083/0" width="106" />
  </div>
</li>

<li>
  <div class="slider_item_box"
    onmouseover="this.style.cursor='Pointer';"
    onclick="sliderSelect(this); featured_video_details($(this).parent().attr('jcarouselindex'));"
    large_thumbnail="/system/images/46/original/S7_feature.jpg?2009"
    free='false'>

    <img alt="Kundalini yoga to cleanse the liver" height="59" src="/system/images/46/original/S7_feature.jpg?2009" width="106" />
  </div>
</li>