<div id="main" style="clear: left;">  
  <div id="container_4col">
    <h1>Scheduled Releases</h1>
    <p>Keep up with RSS</p>
    <table class="scheduled_releases" cellpadding="0" cellspacing="0">
      <tr>
        <th colspan="4">This Week <span>Date</span></th>
      </tr>
      <tr class="free">
        <td class="title">Title</td>
        <td class="type">Type | </td>
        <td class="instructor">Instructor</td>
        <td class="date">Date</td>
      </tr>
      <tr>
        <td class="title">Title</td>
        <td class="type">Type | </td>
        <td class="instructor">Instructor</td>
        <td class="date">Date</td>
      </tr>
      <tr class="free">
        <td class="title">Title</td>
        <td class="type">Type | </td>
        <td class="instructor">Instructor</td>
        <td class="date">Date</td>
      </tr>
    </table>
  </div>
</div>

<ul>
  <% @videos.each do |video| %>
    <li><%= video.title %></li>
  <% end %>
</ul>