    <div style="margin-bottom: 10px;"></div>
    <div style="margin-bottom: 50px;margin-top: 10px;">
        <div style="float:left;">
          <%= image_tag("yogatoday-logo-large.gif")%>
        </div>
        <div style="float:left; margin-left: 20px;">
          <div style="margin-bottom: 70px;"></div>
          <%= image_tag("yoga_delivered_daily.png")%>
        </div>
        <div style="float:right; text-align: right; font-size: 8pt;">
          <div style="margin-bottom: 55px;"></div>
          To make sure you get Yoga Today e-mails,<br> add info@yogatoday.com to your address book</div>
        <div style="clear:both;"></div>
        <div style="height: 10px; border-bottom: 3px solid #cccccc;"></div>
    </div>