<div style="margin-bottom: 50px;margin-top: 10px;">
  <div style="float:left;">
    <%= image_tag image_path("yogatoday-logo-large.gif")%>
  </div>
  <div style="float:right; text-align: right; font-size: 16pt;">
    <%= headertitle %>
  </div>
  <div style="clear:both;"></div>
  <div style="height: 10px; border-bottom: 3px solid #cccccc;"></div>
</div>