<%#= render :partial => 'shared/authentication_modals' unless ['users','sessions'].include? controller.controller_name %>

<div id="header_information">
  <% if logged_in? -%>
     <span>Welcome, <%= current_user.first_name -%></span>
     <%= link_to 'My Profile', profile_user_path(current_user) %>
     <%= link_to "My Yoga Queue (#{user_playlist.size})", playlist_path, :id => 'playlist_link' %>
  <% end -%>
</div>

<%#= javascript_include_tag 'modals/authentication' unless ['users','sessions'].include? controller.controller_name %>
