<% title 'Our Intention' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Intention") %>
      <div class="arial18_green" id="main_title">Our Intention</div>
    </div>
    <!--<div id="unlimited_videos">
        <div class="arial13_bold_green" id="watch_videos">Watch Unlimited Yoga Videos</div>
        <div id="Subscribe">Subscribe for only $9.99 per month. Learn more</div>
      </div>-->
  </div>
  <div id="video_banner" style="position: static"><img src="/images/about_yoga_today_banner.png" width="940" height="270" /></div>

  <div id="main_content">
    <div id="container_2col" style="float:left">
      <p>We have set an intention at Yoga Today to make the benefits of yoga accessible to everyone, everywhere. Yoga brings health, happiness and a knowing of peace. It puts you in touch with the present moment which increases awareness. This empowers you to make choices about your thoughts and actions in accordance with your values.</p>
      <p>Choosing yoga as a lifestyle in our accelerating, fast-paced world affords you the opportunity to slow down and reflect. In addition to stress relief and mental clarity, the physical effects of yoga are </p>
    </div>

    <div class="grid_spacer">&nbsp;</div>

    <div id="container_2col" style="float:left">
      <p>transformative; increasing strength, flexibility and stamina. These benefits are observed rapidly when one returns to the yoga mat with regularity. Yoga Today makes this easy.</p>
      <p>All skill levels are welcome to practice with us. We emphasize body awareness and expansion along with learning meaningful boundaries. Ultimately your body tells you how deep to go, but the instructor is there to guide you by offering suggestions and modifications. We encourage you to respect where you are today and approach every class with an open heart and open mind.</p>
    </div>


    <div id="container_2col" style="float:right">
      <p>class with an open heart and open mind.<br />
      Whether you are a newcomer experiencing your first practice, reawaking your interest in yoga after a lapse in practicing or a seasoned yogi looking for a way to practice between studio sessions, you will love the convenience of our inspiring, refreshing new classes waiting for you on your computer every day.</p>
      <p>Wherever you are and according to your own schedule, we invite you to embark on our daily practice to attune to and affirm life. Nurture your mind, body and spirit, with more yoga, more often.</p>
    </div>

  </div>
</div>