<% title 'Ambassador Program' %>
<% title 'Earn free yoga' %>
<div id="main">
  <div id="main_content">
    <div id="ambassador_details">
      <div class="header">
        <img src="/images/ambassador_details_header.png" alt="Join the Yoga Today Ambassador Program" />
      </div>
      <div class="hero"><input type="image" src="/images/ambassador_details_button_join-now.png"></input></div>
      <ul>
        <li>
          <span class="token">1</span>
          <h3>To join, create your Ambassador ID</h3>
          <p>This is how you'll be identified and credited when you refer a new Yoga Today subscriber. Take a moment to pick an ID that feels good - something that will be fun to share and easy to remember. This will be your permanent Ambassador ID.</p>
          <dl>
            <dt>Examples</dt>
            <dd>goodtimesyoga <span>Now that sounds inviting</span></dd>
            <dd>niahBrown <span>Nice to meet you.</span></dd>
            <dd>xbnr1799dan <span class="red">Different, but not very friendly.</dd>
          </dl>
          <div class="preview create_id">
            <div>
            <input class="input" type="text"></input>
            <input class="submit" type="image" src="/images/ambassador_details_button_join.png"></input>
            </div>
          </div>
        </li>

        <li>
          <span class="token">2</span>
          <h3>Invite your friends with our Ambassador Tools</h3>
          <p>In your Profile, we've developed tools for sending invitations by e-mail or by sharing with your friends, family, and followers on sites like Facebook and Twitter.</p>
          <p>You can use the invitations we've written for you, or write your own messages.</p>
          <div class="preview"><img src="/images/ambassador_details_2.png" /></div>
        </li>

        <li>
          <span class="token">3</span>
          <h3>Earn Points from referrals that subscribe</h3>
          <p>New subscribers that credit you by following your invitation or referencing your Ambassador ID will receive <span>2 week free trial</span> when they subscribe to one of our prepaid Unlimited Membership plans.</p>
          <p>You'll receive one point for each referral that becomes a paid subscriber.</p>
          <div class="preview"><img src="/images/ambassador_details_3.png" /></div>
        </li>

        <li class="last">
          <span class="token">4</span>
          <h3>Use your points for free Yoga Today</h3>
          <p>The Ambassador Tools in your Profile also has a place for you to redeem the points you've earned. The My Rewards tab shows your available points and let's you use any or all of them to add free months of Yoga Today to your account.</p>
          <p>1 point = 1 free month Unlimited Membership</p>
          <div class="preview"><img src="/images/ambassador_details_4.png" /></div>
        </li>
      </ul>
      <div class="join"><input type="image" src="/images/ambassador_details_button_join-now.png"></input></div>
    </div>
  </div>
</div>