<% title 'Contact' %>

<div id="main">

  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Contact") %>
    <div id="main_title" class="arial18_green">Contact Us</div>      </div>
    <!--<div id="unlimited_videos">
        <div class="arial13_bold_green" id="watch_videos">Watch Unlimited Yoga Videos</div>
        <div id="Subscribe">Subscribe for only $9.99 per month. Learn more</div>
      </div>-->
  </div>

  <div id="main_content">


    <div style="float: left;" id="container_4col">
      <div class="filter_options">
        <div>
          Your contact email has been successfully delivered. You'll hear from us soon!
        </div>


      </div>
    </div>

    <%= render :partial => 'nav_sidebar' %>





  </div>
</div>