<% title 'Promotions and Events' %>
<div id="main">

  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("Events & Promotions") %>
    <div id="main_title" class="arial18_green">Events & Promotions</div>      </div>
    <!--<div id="unlimited_videos">
        <div class="arial13_bold_green" id="watch_videos">Watch Unlimited Yoga Videos</div>
        <div id="Subscribe">Subscribe for only $9.99 per month. Learn more</div>
      </div>-->
  </div>

  <div id="main_content">
    <div style="float: left;" id="container_4col">
      <div class="filter_options" style="border: none; background-image: none; padding-left: 0px;">
        <div class="form_row" style="padding-top: 21px;">
          <div class="filter_options" style="border: none; background-image: none; padding: 0px; margin: 0px;">
           <div class="form_row" style="padding-top: 0px;">
            <% Event.to_show.each do |event| %>
              <p style="margin-top: 0px;">
                <% if event.asset_content_type == "image/jpeg" || event.asset_content_type == "image/pjpeg" || event.asset_content_type == "image/png" %>
                  <%= link_to image_tag(event.asset.url, :style => "border: 0"), event.url %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <%= render :partial => 'nav_sidebar' %>





  </div>
</div>