There was a problem importing the following videos from Brightcove to the YogaToday CMS.

<% videos.each do |videos| %>
  Video Title: <%= video.title %>
  Errors:
    <ul>
      <% video.errors.each do |attribute, message| %>
        <li><%= attribute %>: <%= message %></li>
      <% end %>
    </ul>
<% end %>