# Mailchimp groupings information can be obtained by using:
# hominid.groupings(hominid.find_list_id_by_name('Members'))

development:
  login:
  password:
  api_key:
  members_list_id:
  free_group_id:
  ambassadors_group_id:
  paid_group_id:
  newsletter_list_id: ''
  newsletter_group_id: 45

test:
  login:
  password:
  api_key:
  members_list_id:
  free_group_id:
  ambassadors_group_id:
  paid_group_id:
  newsletter_list_id: ''
  newsletter_group_id: 45

production:
  login:
  password:
  api_key:
  members_list_id: 'e28cf19675'
  free_group_id: 2
  ambassadors_group_id: 26
  paid_group_id: 34
  newsletter_list_id: ''
  newsletter_group_id: 45