/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
    display: none;

    position: fixed;
    top: 25%;
    left: 50%;

    margin-left: -250px;
    width: 450px;

    background-color: white;
    color: #333;
    border: 2px solid #BFC0C3;
    border-right-color:  #828282;
    border-bottom-color: #62615F;

    padding: 5px 5px 0 0;

    text-align: left;

    box-shadow: 10px 10px 5px #888; padding: 5px 5px 5px 15px;
    -webkit-box-shadow: 5px 5px 10px #4e4f4f;
    -moz-box-shadow: 5px 5px 10px #4e4f4f;
    -ms-filter: "progid:DXImageTransform.Microsoft.dropShadow(color=#4e4f4f, offX=5, offY=5, positive=true)";
}

.jqmClose {
  float: right;
}

.jqmClose img {
  border: 0;
}

.jqmWindow .container {
  padding: 0px 32px 20px 20px;
}

.jqmWindow .container > p {
  float: right;
  margin: 47px 0 0 0;
}

.container hr[size="3"] {
  margin-top: 60px;
}

.container hr input {
  float: left;
  margin-bottom: 7px;
}

.container hr hr {
  clear: both;
  margin-top: 0;
}

.jqmWindow .container img {
   float: left;
 }

.jqmOverlay { background-color: white; }

.jqmWindow .messages {
/*  margin: 10px 0px 30px 0px;*/
/*  min-height: 20px;*/
  margin-top: 0;
}

#ajax_login, #ajax_forgot {
  clear: both;
}

#login_modal img.logo, #forgot_password_modal img.logo {
  margin: 31px 0 0 0;
}

#ajax_login a, #ajax_forgot a {
  text-decoration: underline;
  float: right;
  line-height: 28px;
}


/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
