<li id='<%= dom_id(featured_video) %>'>
    <%= image_tag featured_video.video.thumbnail_url, :size => '128x128' %>
    <br />
    <%= truncate(featured_video.video.title, 20) %>
    <%= hidden_field_tag 'featured_video_id[]', featured_video.id  %>
</li>