<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Download your Yoga Today video purchase</title>
<link href="/stylesheets/downloadpage.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="downloadContainer">

    <div id="pageHeader">

      <div style="width:100px; height:130px; margin-right:20px; float:left;"><a href="/"><img src="/images/logo.png" alt="Yoga Today" style="border:none;"/></a></div>

        <div style="float:left; margin-top:81px;">
           <h1>Download your video purchase</h1>
            <h4 style="margin-top:4px;">Right-click  &gt;  Save Target/Link As...  &gt;  Save</h4>
      </div>

        <div style="clear:both;"></div>

    </div>

    <div id="pageContent">

        <div id="leftColumn">

        <%= yield %>

        </div>

        <div id="rightColumn">

            <div id="rightColumnContent">
            <h2>Important Instructions!</h2>
            <h4>How to download your Yoga Today Video purchase</h4><br />

            <h3>Step 1:</h3>
            <div style="border-left:solid 1px #999999; padding-left:10px; margin-top:4px;">
            <p>Using your mouse, "RIGHT-CLICK" on the class image shown on this page.<br/>

      When the menu appears, save the video to your computer by clicking on:</p>

            <h5 style="font-style:italic; font-weight:normal; color:#CC0000; margin-bottom:0px;">"Save Target As..." or "Save Link As..."</h5>

      <p style="margin:0; color:#999999">(The exact wording of this button will depend on the browser you use. If you do not have a right mouse button, press and hold the Control key (CTRL), then click the image to see the menu.)</p>
      </div>

            <br />

      <h3>Step 2:</h3>
            <div style="border-left:solid 1px #999999; padding-left:10px; margin-top:4px;">
            <p>Choose a destination for the video on your computer, and click:</p> <h5 style="font-style:italic; font-weight:normal; color:#CC0000; margin-bottom:0px;">"SAVE"</h5>

      <p style="margin:0; color:#999999">(Your download will begin promptly.)</p></div>

            <div style="width:550px; border-top:1px solid #999999; margin:30px 0 10px 0;"></div>
<div id="note">
<h3>*Please Note*</h3>
<p>Yoga Today's one-hour video files are quite large. Depending on the speed of your internet connection, this download will take anywhere from 20 minutes to 2 hours. Please be patient, and be sure not to quit your browser until the download is complete.</p>


<p>If you continue to have download issues, please e-mail us and describe your problem. We will respond as quickly as possible. Thank you.</p>

<a href="mailto:info@yogatoday.com">info@yogatoday.com</a></p></div>
            </div>

        </div>

        <div style="clear:both;"></div>

    </div>


</div>

</body>
</html>